<div class="row">
  <div class="col-12">
    <img src="http://goodtoknow.media.ipcdigital.co.uk/111/000016ef4/543a_orh412w625/Butter-chicken-recipe.jpg" alt="" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Recipre name</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 text-right">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Resipe <span class="-caret-down"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Adit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    Description
  </div>
</div>

<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>